@mixin ngx-progress-variant($name){
  $variant-default: map-get(ngx-progress-component($name), default);

  &.ngx-progress-color-#{$name} {
    > .ngx-progress-bar {
      color: map-get($variant-default, foreground-color);
      background-color: map-get($variant-default, background-color);
    }
  }
}