@mixin ngx-col-sizes() {
  @each $breakpoint, $positions in $ngx-grid-size-in-breakpoints {
    @include ngx-media-breakpoint-up($breakpoint) {
      @each $position in $positions {
        &.ngx-grid-col-#{$breakpoint}-size-#{$position} {
          flex: 0 0 percentage($position / $ngx-grid-columns);
        }
      }
    }
  }
}

@mixin ngx-col-offsets() {
  @each $breakpoint, $positions in $ngx-grid-offset-in-breakpoints {
    @include ngx-media-breakpoint-up($breakpoint) {
      @each $position in $positions {
        &.ngx-grid-col-#{$breakpoint}-offset-#{$position} {
          margin-left: percentage(($position - 1) / $ngx-grid-columns);
        }
      }
    }
  }
}

@mixin ngx-col-orders() {
  @each $breakpoint, $positions in $ngx-grid-order-in-breakpoints {
    @include ngx-media-breakpoint-up($breakpoint) {
      @each $position in $positions {
        &.ngx-grid-col-#{$breakpoint}-order-#{$position} {
           order: $position;
        }
      }
    }
  }
}