@import '../../../cores/styles/ngx.config.scss';

$ngx-label-configs: (
  enable-radius: map-get($ngx-border-configs, enable-radius),
  enable-type-pill: true
) !default;

$ngx-label-variant-configs: map-merge($ngx-variant-configs, (
  enable-default: true
)) !default;