@import './declarations.scss';

:host(.ngx-label) {
  display: inline-block;
  font-size: $ngx-label-font-size;
  font-weight: $ngx-label-font-weight;
  line-height: $ngx-label-line-height;
  padding: $ngx-label-padding;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include ngx-border-radius($ngx-label-border-radius);

  @if ngx-label-config(hide-if-empty){
    &:empty {
      display: none;
    }
  }

  @if ngx-label-config(type-pill){
     &.ngx-label-type-pill {
      padding: $ngx-label-pill-padding;
      border-radius: $ngx-label-pill-border-radius;
    }
  }

  @each $variant in ngx-label-config(variants) {
    @include ngx-label-variant($variant);
  }
}