@mixin ngx-label-variant($variant-type, $component){
  $component-default: map-get($component, default);

  &.ngx-label-color-#{$variant-type} {
    color: map-get($component-default, foreground-color);
    background-color: map-get($component-default, background-color);
  }
}