@import './declarations.scss';

:host(.ngx-navbar) {
  display: flex;
  position: relative;
  padding: $ngx-navbar-padding;

  @include ngx-navbar-positions();

  @if ngx-navbar-config(divider) {
    /deep/ > .ngx-navbar-divider {
      color: transparent;
      width: 1px;
      padding: $ngx-navbar-divider-padding;
      margin: $ngx-navbar-divider-margin;
      overflow: hidden;

      &::before {
        content: "";
        padding: $ngx-navbar-divider-content-padding;
      }
    }
  }

  @if ngx-navbar-config(brand) {
    /deep/ > .ngx-navbar-brand {
      padding: $ngx-navbar-brand-padding;
      margin: $ngx-navbar-brand-margin;
      font-size: $ngx-navbar-brand-font-size;
      text-decoration: none;
    }
  }

  @if ngx-navbar-config(item) {
    /deep/ > .ngx-navbar-item {
      padding: $ngx-navbar-item-padding;
      text-decoration: none;

      + .ngx-navbar-item{
        margin-left: 1rem;
      }
    }
  }
  
  @each $variant in ngx-navbar-config(variants) {
    @include ngx-navbar-variant($variant);
  }
}
