@import './declarations.scss';

:host(.ngx-card) {
  display: block;
  position: relative;
  padding: $ngx-card-padding;
  border: $ngx-card-boder;

  @include ngx-border-radius($ngx-card-boder-radius);

  @if ngx-card-config(title){
    /deep/ ngx-card-title {
      display: block;
      margin: $ngx-card-title-margin;
    }
  }
  
  @if ngx-card-config(subtitle){
    /deep/ ngx-card-subtitle {
      display: block;
      margin: $ngx-card-subtitle-margin;
    }
  }

  @if ngx-card-config(header){
    /deep/ > .ngx-card-header {
      display: flex;

      @if ngx-card-config(header-image){
        > ngx-card-image {
          padding-right: 10px;

          @include ngx-card-align-self();
        }
      }

      @if ngx-card-config(header-content){
        > .ngx-card-header-content {
          min-width: 1px;
          flex: 1;
        }
      }

      @if ngx-card-config(header-actions){
        > ngx-card-actions {
          padding-left: 10px;

          @include ngx-card-align-self();
        } 
      }
    }
  }

  @if ngx-card-config(image){
    /deep/ > ngx-card-image {
      display: block;
      width: $ngx-card-image-width;
      margin: $ngx-card-image-margin;

      > img {
        width: 100%;
      }

      &:first-child {
        margin-top: $ngx-card-image-first-child-margin-top;
        > img {
          @include ngx-border-radius($ngx-card-boder-radius, top);
        }
      }

      &:last-child {
        margin-bottom: $ngx-card-image-last-child-margin-bottom;
        > img {
          @include ngx-border-radius($ngx-card-boder-radius, bottom);
        }
      }
    }
  }
  
  @if ngx-card-config(content){
    /deep/ > ngx-card-content {
      display: block;

      > *:last-child {
        margin-bottom: 0;
      }
    }
  } 
  
  @if ngx-card-config(actions){
    /deep/ > ngx-card-actions {
      display: flex;
      margin: $ngx-card-actions-margin;

      > *:not(:first-child) {
        margin: $ngx-card-actions-item-margin;
      }

      @include ngx-card-justify-content();
    }
  }

  @each $variant in ngx-card-config(variants) {
    @include ngx-card-variant($variant);
  }
}