@mixin ngx-card-justify-content(){
  &[align="start"] {
    justify-content: flex-start;
  }

  &[align="center"] {
    justify-content: space-around;
  }

  &[align="end"] {
    justify-content: flex-end;
  }
}

@mixin ngx-card-align-self(){
  &[align="start"] {
    align-self: flex-start;
  }

  &[align="center"] {
    align-self: center;
  }

  &[align="end"] {
    align-self: flex-end;
  }
}

@mixin ngx-card-variant($variant-type, $component, $subtitle){
  $component-default: map-get($component, default);
  $subtitle-default: map-get($subtitle, default);

  &.ngx-card-color-#{$variant-type} {
    color: map-get($component-default, foreground-color);
    background-color: map-get($component-default, background-color);
    border-color: map-get($component-default, border-color);

    /deep/ ngx-card-subtitle {
      color: map-get($subtitle-default, foreground-color);
    }
  }
}