@import '_mixins.scss';

:host(.ngx-card) {
  display: block;
  position: relative;
  padding: $ngx-card-padding;
  border: $ngx-card-boder;

  @include ngx-border-radius($ngx-card-boder-radius, all, $ngx-card-configs);

  /deep/ ngx-card-title {
    display: block;
    margin: $ngx-card-title-margin;
  }

  /deep/ ngx-card-subtitle {
    display: block;
    margin: $ngx-card-subtitle-margin;
  }

  /deep/ > .ngx-card-header {
    display: flex;

    > ngx-card-image {
      padding-right: 10px;

      @include ngx-card-align-self($ngx-card-image-configs);
    }

    > .ngx-card-header-content {
      min-width: 1px;
      flex: 1;
    }

    > ngx-card-actions {
      padding-left: 10px;

      @include ngx-card-align-self($ngx-card-actions-configs);
    }
  }

  /deep/ > ngx-card-image {
    display: block;
    width: $ngx-card-image-width;
    margin: $ngx-card-image-margin;

    > img {
      width: 100%;
    }

    &:first-child {
      margin-top: $ngx-card-image-first-child-margin-top;
      > img {
        @include ngx-border-radius($ngx-card-boder-radius, top, $ngx-card-configs);
      }
    }

    &:last-child {
       margin-bottom: $ngx-card-image-last-child-margin-bottom;
      > img {
        @include ngx-border-radius($ngx-card-boder-radius, bottom, $ngx-card-configs);
      }
    }
  }

  /deep/ > ngx-card-content {
    display: block;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  /deep/ > ngx-card-actions {
    display: flex;
    margin: $ngx-card-actions-margin;

    > *:not(:first-child) {
      margin: $ngx-card-actions-item-margin;
    }

    @include ngx-card-justify-content($ngx-card-actions-configs);
  }

  @include ngx-card-variant(primary, $ngx-card-primary, $ngx-card-subtitle-primary);

  @include ngx-card-variant(secondary, $ngx-card-secondary, $ngx-card-subtitle-secondary);

  @include ngx-card-variant(info, $ngx-card-info, $ngx-card-subtitle-info);

  @include ngx-card-variant(success, $ngx-card-success, $ngx-card-subtitle-success);

  @include ngx-card-variant(warning, $ngx-card-warning, $ngx-card-subtitle-warning);

  @include ngx-card-variant(danger, $ngx-card-danger, $ngx-card-subtitle-danger);
}