<template ngFor let-page [ngForOf]="pageBuilder.pages">
  <a *ngIf="page.isPrevLink && showPrevious"
      rel="nofollow"
      class="ngx-page-item" 
      [href]="page.link" 
      (click)="changePage($event, page)">
    &laquo;
  </a>

  <a  *ngIf="!page.isPrevLink && !page.isNextLink"
      class="ngx-page-item"
      [href]="page.link" 
      [class.ngx-page-item-state-active]="page.number === currentPage"
      (click)="changePage($event, page)">
    {{page.number}}
  </a>

  <a *ngIf="page.isNextLink && showNext" 
      rel="nofollow"
      class="ngx-page-item" 
      [href]="page.link" 
      (click)="changePage($event, page)">
    &raquo;
  </a>
</template>